---
import BaseLayout from '../../layouts/BaseLayout.astro';
import App from '../../components/react/App';
import { getAll } from '../../lib/sheets';
import { LANGS, normalizeLang } from '../../lib/i18n';

export const prerender = true;

export function getStaticPaths() {
  return LANGS.map((lang) => ({ params: { lang } }));
}

const lang = normalizeLang(Astro.params.lang);

const { projects, services, categories } = await getAll();
---

<BaseLayout lang={lang}>
  <div id="app-mount">
    <App
      client:load
      lang={lang}
      projects={projects}
      services={services}
      categories={categories}
    />
  </div>
</BaseLayout>
